footer {
  display: block;
  @media screen and (max-width: 1199px) {
  text-align: center;
}
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    & .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
    }
  }   
}

.first-container {
  @media screen and (max-width: 767px)  {
    & a:not(:first-child){
    margin-top: 8px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
  }
}

.adress {
  &-footer {
    display: block;
    padding-top: 20px;
    padding-bottom: 0px;
  }

  &-text {
    display: block;
    font-style: normal;
    font-weight: 400;
    color: $interactive-text-color;
  }

  &-imail {
    display: block;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    color: rgba(255, 255, 255, 0.6);
  }

  &-phone {
    font-style: normal;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
  }
}
/* присоеденяйтесь */

.connection {
  @media screen and (max-width: 767px)  {
    margin-top: 60px;
    
    display: block;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
    
  }

  text-align: center;
  // flex-wrap: wrap;
  // flex-direction: row-reverse;
  justify-content: center;
  &-title {
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $interactive-text-color;
  }

  & .list {
    margin-top: 20px;
    justify-content: center;
  }

  & .team-footer-item + .team-footer-item {
    margin-left: 10px;
  }

  & .social-link-svg {
    fill: $interactive-text-color;
  }

  & a {
    background: rgba(255, 255, 255, 0.1);

    &:hover,
    &:focus {
      background-color: $active-text-color;
    }
  }
}
/* подписаться */

.subscribe {
  width: 100%;
  margin-top: 60px;


  &-mail {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) and (max-width: 1199px){
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }

    &-input-cont {
      border: 1px solid rgba(255, 255, 255, 0.3);
      background-color: #2f303a;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      width: 100%;
      height: 50px;
      padding-left: 16px;
      padding-right: 16px;
      color: rgba(255, 255, 255, 0.6);
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.03em;
      @media screen and (min-width: 480px) {
        & {
          width: 450px;
        }
      }
        
      
    }
  }
}

@media screen and (min-width: 1200px){
  footer {
    & .container {
      display: flex;
      align-items: baseline;
    }
  }
  .connection,
  .first-contaner {
    display: flex;
    width: calc((50% - 15px) / 2);
    }

    .connection {
      flex-direction: column;
      align-items: flex-start;


    }
  
   .subscribe {
    display: flex;
    width: calc((100% - 30px) / 2);
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
   }
   .subscribe-mail {
    display: flex;

   }
   .subscribe-mail-input-cont {
    width: 358px;

   }
  }

// footer {
//     background: #2f303a;
//     padding-top: 60px;
//     padding-bottom: 60px;
//     & .container {
//       justify-content: space-between;
//       align-items: baseline;
//     }

//   }
//   .first-contaner {

//     width: calc((50% - 15px) / 2);
//   }

//   .adress {
//   &-footer {
//     flex-direction: column;
//     padding-top: 20px;
//     padding-bottom: 0px;
//   }

//   &-text {
//     font-style: normal;
//     font-weight: 400;
//     color: $interactive-text-color;
//   }

//   &-imail {
//     margin-top: 9px;
//     font-style: normal;
//     font-weight: 400;
//     line-height: 1.17;
//     color: rgba(255, 255, 255, 0.6);
//   }

//   &-phone {
//     margin-top: 9px;
//     font-style: normal;
//     font-weight: 400;
//     color: rgba(255, 255, 255, 0.6);
//   }
// }
//   /* присоеденяйтесь */

//   .connection {
//     width: calc((50% - 15px) / 2);

//   &-title {
//     font-style: normal;
//     font-weight: 700;
//     line-height: 1.14;
//     text-transform: uppercase;
//     color: $interactive-text-color;
//   }

//   & .list {
//     align-items: center;
//     margin-top: 20px;
//   }

//   & .team-footer-item + .team-footer-item {
//     margin-left: 10px;
//   }

//   & .social-link-svg {
//       fill: $interactive-text-color;
//     }

//     & a {
//       background: rgba(255, 255, 255, 0.1);

//         &:hover,
//         &:focus {
//         background-color: $active-text-color;
//         }
//     }
// }
//   /* подписаться */

//   .subscribe {
//     width: calc((100% - 30px) / 2);
//   }

//   .subscribe-mail {
//      display: flex;
//     margin-top: 20px;

//   }
// }