header {
  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;
  & .container {  
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 768px) {
      width: 768px;
    }
    @media screen and (min-width: 1200px) {
      width: 1200px;

    }
  }
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 17px;   
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 25px;
  }
}